<% include public/views/helloWorld.html %>

<ejs lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blogpost</title>
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>
    <body>
        Index Page
        <!-- SCRIPTS -->
        <script src="../javascripts/main.js"></script>
    </body>
</ejs>